@use '../../styles/variables';
@use '../../styles/layout';

.main-hero-section {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: left;
  color: white;
  padding: 40px;
  height: 100vh;
  width: 100%;
  overflow: hidden; 

  @media screen and (max-width: 700px) {
    height: 100vh;
  }
}

.hero-bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 0;
}

.overlay {
  background-color: rgba(20, 104, 197, 0.5);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.bottom-left-text {
  position: relative;
  z-index: 2;
}

.bottom-left-text h1 {
  font-family: variables.$font-heading;
  margin: 0;
  line-height: 1.2;
  font-size: 80px;

  .changing-text {
    color: variables.$yellow;
  }

  @media screen and (max-width: 900px) {
    font-size: 65px;
  }

  @media screen and (max-width: 600px) {
    font-size: 45px;
  }
}

.subtitle {
  font-size: 20px;
  font-family: variables.$font-primary;
  color: white;
  margin-top: 10px;
}

.slide-up-text {
  display: inline-block;
  animation: text-slide-up 0.5s ease forwards;
}

@keyframes text-slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
