@use '../../styles//variables';
@use 'sass:color';

.cta_wrapper {
    .cta_1,
    .cta_2,
    .cta_3 {
      min-height: 472px;
      height: 472px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-image: url(../../files/Dynamic\ Squares\ White.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 20px;
      transition: all 0.5s ease-in-out;

      @media screen and (max-width: 640px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .texts {
        padding: 60px;

        @media screen and (max-width: 640px) {
          padding: 30px 30px 0 30px;
        }

        p {
          font-family: variables.$font-heading;
          font-size: 22px;
        }

        h2 {
          font-size: 90px;
          color: white;

          @media screen and (max-width: 1000px) {
            font-size: 75px;
          }

          @media screen and (max-width: 900px) {
            font-size: 50px;
          }

          @media screen and (max-width: 640px) {
            font-size: 60px;
          }
        }

        .action-button {
          padding: 8px 16px;
          border-radius: 8px;
          border: none;
           background-color: variables.$yellow;
          color: white;
          text-decoration: none;
          font-weight: 600;
          font-family: variables.$font-primary;
           &:hover {
            background-color: variables.$yellow-light;
          }
        }
      }

      .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        padding-left: 35px;

        @media screen and (max-width: 640px) {
          padding-left: 0;
          padding-top: 33px;
        }

        img {
          width: 300px;
          height: 300px;
          object-fit: cover;
          border-radius: 20px;
          border: 8px solid white;

          @media screen and (max-width: 1000px) {
            width: 250px;
            height: 250px;
          }

          @media screen and (max-width: 800px) {
            width: 200px;
            height: 200px;
          }

          @media screen and (max-width: 640px) {
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 1;
          }
        }
      }
    }

    .cta_1 {
      background-color: variables.$purple-light;
      
      .texts {
        p {
          color: variables.$yellow;
        }

        button {
          background-color: variables.$yellow;
          color: white;

          &:hover {
            background-color: variables.$yellow-light;
          }
        }
      }

      .images {
        .odd {
          rotate: -15deg;
        }

        .even {
          rotate: 15deg;
        }

        .secnd {
          margin-top: -100px;

          @media screen and (max-width: 640px) {
            margin-top: -40px;
          }
        }

        .col1 {
          z-index: 2;
        }

        .col2 {
          margin-left: -70px;
          z-index: 1;

          @media screen and (max-width: 640px) {
            margin-left: -15px;
          }
        }
      }
    }

   .cta_2 {
  background-color: variables.$green-light;

  .texts {
    padding: 60px 0px 60px 60px;

    p {
      color: variables.$blue;
    }

    h2 {
      color: white;
    }
  }

     img {
      width: 60%;
      height: 100%;
      object-fit: unset;
      border: none;
      border-radius: 0;
      margin-right: -140px
    }
  @media screen and (max-width: 768px) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .texts {
    padding: 90px 20px 0 20px;

    h2 {
      font-size: 50px;
    }

    p {
      font-size: 18px;
    }

    .action-button {
      margin-top: 1rem;
    }
  }

  img {
    width: 90%;
    height: 100%;
    display: block;
    margin-top: -70px;
  }
}

@media screen and (max-width: 480px) {
  .texts {
    padding: 30px 15px 0px 15px;
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 16px;
    }
  }

  img {
    width: 100%;
    margin-right: 0;
    margin-top: -50px;
  }
}

}


    .cta_3 {
      background-color: variables.$blue-light;

      .texts {
        p {
          color: variables.$yellow;
        }

        h2 {
          color: white;
        }

        
      }

      .images {
        overflow: hidden;
        img {
          border: none;
          width: 200px;
          height: 200px;
          object-fit: cover;
      border-radius: 20px;
        }
      }
    }
  }

  .cta_slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;

  .slider_track {
    display: flex;
    width: 100%;
    transition: transform 0.6s ease-in-out;
  }

  .cta_wrapper {
    display: flex;
    width: 100%;
    flex-shrink: 0;

    .slide {
      min-width: 100%;
      width: 100%;
    }
  }
}
