.container {
  max-width: 1600px;
  padding-left: 120px;
  padding-right: 120px;

  @media (max-width: 1100px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (max-width: 640px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.hero-section {
  padding-top: 240px;

  @media (max-width: 1100px) {
    padding-top: 200px;
  }

  @media (max-width: 640px) {
     padding-top: 140px;
  }
}