// COLORS
$yellow: #FBBA00;
$yellow-light: #FFDB4C;

$blue: #1468C5;
$blue-light: #4CA0FF;
$blue-dark: #163E7A;
$blue-bg: #B2D6FF;

$white: #fff;
$background: #EBECEC;
$grey-light: #C5C6C6;
$grey: #898989;
$grey-dark: #434242;

$red: #C51C13;
$red-light: #FF5543;

$green: #A0C514;
$green-light: #C2DE5D;
$green-bg: #E5E6BB;

$purple: #931991;
$purple-light: #C44BC2;
$purple-bg: #E6BDE5;

// FONT-FAMILIES
$font-primary: 'Open Sans', sans-serif;
$font-heading: 'Bebas Neue', cursive;

