.contributors-wrapper {
  overflow: hidden;
  width: 100%;
  background-color: white;
  padding: 30px 0;
  position: relative;
}

.contributors-track {
  display: flex;
  width: max-content;
  animation: scroll-seamless 20s linear infinite;

  img {
    height: 60px;
    margin-right: 60px;
    object-fit: contain;
    flex-shrink: 0;

    @media (max-width: 768px) {
      height: 45px;
      margin-right: 40px;
    }

    @media (max-width: 480px) {
      height: 35px;
      margin-right: 30px;
    }
  }
}

@keyframes scroll-seamless {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


